.bio {
    flex: 50%;
    margin-top: 5%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 75vh;
}

p {
    font-size: 24px;
    line-height: 150%;
    padding-left: 40px;
    padding-top: 80px;
    padding-right: 150px;
    text-align: left;
}

.picture {
    flex: 50%;
    width: 50vw;
}

.picture img {
    border-radius: 50%;
    width: 50%;
    margin-left: 35%;
    margin-top: 3vh;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}