.flex-container {
    display: flex;
    flex-direction: row;
    height: 75vh;
}

.picture {
    flex: 50%;
    width: 50vw;
}

.picture img {
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-top: 3vh;
    margin-left: 35%;
}

.bio {
    flex: 50%;
    text-align: center;
    margin-top: 5%;
}

p {
    padding-left: 15%;
    padding-top: 15%;
    padding-right: 15%;
    line-height: 150%;
    font-size: 175%;
    text-align: left;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}