div {
  display: flex;
  align-items: center;
  justify-content: center;

  .name {
      background-color: rgb(47, 54, 64, 0.5);
      border-radius: 25px;
      border-style: solid;
      border-color: white;
      box-sizing: border-box;
      height: 25%;
      margin-top: 20%;
      text-align: center;
      width: 40%;
  }
}

.my-button {
    font-size: 1.5vw;
    height: 3.5vw !important;
    margin-top: 2vw;
    opacity: 1.0;
    text-transform: uppercase;
    width: 12vw;
}

h1 {
    color: white;
    font-size: 3vw;
    font-weight: 50%;
    margin-top: 5%;
    text-transform: uppercase;
}
