<div *ngIf="award">
    <div class="flex-container">
        <div *ngFor="let awardloop of awards" 
          class="photo"
          (mouseenter)="enter(awardloop)"
          (mouseleave)="exit()">
            <ng-container *ngIf="award === awardloop.year">
                <img src={{awardloop.image}}>
                <div class="text-block">
                    <h2 *ngIf="hoverIndex && awardloop===current">{{awardloop.description}}</h2>
                </div>
            </ng-container>
        </div>
    </div>
</div>

